@import "tailwindcss";

body {
  font-family:
    system-ui,
    -apple-system,
    'Apple SD Gothic Neo',
    'Malgun Gothic',
    'Noto Sans KR',
    sans-serif;
  word-break: keep-all;
  overflow-wrap: anywhere;
}
